name: Innocent Workflow
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello"
      - name: Badly formatted step
        run: echo "This line is fine"
           echo "But this has wrong indentation on purpose"
